* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  background-color: gray;
}

/* positions */
/* static aka Default*/
.main {
  height: 50vh;
  width: 50vw;
  border: 3px dashed red;
  margin: 0 auto;
  position: relative;
}
/* relative  */
.text {
  width: 25%;
  height: 25%;
  border-radius: 50%;
}
.text.long {
  background-color: hotpink;
  position: absolute;
  left: 0;
  top: 0;
}
.text.like {
  background-color: red;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 1rem;
  left: 5rem;
}

/* absolute */
