$my-color: rgba(41, 61, 82, 0.541);
$box-size: 30px;
$box-color: pink;
$colors: (
  nice: red,
  cool: black,
  fun: #3333,
);

body {
  background-color: map-get($colors, cool);
  #box {
    width: $box-size;
    height: $box-size;
    background-color: $box-color;
  }
}

nav {
  li {
    list-style: none;
  }
  a {
    color: tomato;
    &:hover {
      background-color: black;
    }
  }
}
