* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* overflow */

/* %100 of the parent */

/* use more header footer */

/* img vs background-image */
/* https://blog.px-lab.com/html-img-tag-vs-css-background-image/ */

/* clip-path */
/*  */
/* https://bennettfeely.com/clippy/ */

/* SVG */
/* https://developer.mozilla.org/en-US/docs/Web/SVG */
